<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap" rel="stylesheet">

</head>
<style>
  body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
  }

  section {
    display: block;
    position: relative;
    background-size: contain;
    width: <%=config.viewport.width %>px;
    height: <%=config.viewport.height %>px;
    background-image: url('background.jpg');
    overflow: hidden;
  }

  .container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 680px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }

  .meta {
    text-align: center;
    margin: 10px;
    color: #673ab7;
    font-size: 50px;
    font-weight: bold;
  }

  .title {
    text-align: center;
    margin: 30px 0;
    line-height: 100px;
    font-size: 90px;
    text-transform: lowercase;
  }

  .speaker-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .speaker {
    text-align: center;
    margin: 0 20px;
  }

  .speaker img {
    margin: 10px 0;
    width: 250px;
    border-radius: 100%;
    border: 10px solid #673ab7;
  }

  .speaker h3 {
    margin: 10px;
    font-size: 40px;
    color: #673ab7;
    text-transform: capitalize;
  }

  .speaker h3 small {
    color: #333;
  }
  .language {
    height: 40px;
  }
</style>

<body>
  <% items.forEach(function(talk, index){ %>
  <section>
    <div class="container">
      <h3 class="meta">
        <img class="language" src="languages/<%= talk.language %>.svg" /> <%= talk.type %>: <%= talk.category %> 
      </h3>
      <h1 class="title" style="<% if (talk.css) { %><%= talk.css %><% } %>">
        <%= talk.title %>
      </h1>
      <div class="speaker-container">
        <% talk.speakers.forEach(function(speaker){ %>
        <div class="speaker">
          <img src="<%= speaker.photo %>" />
          <h3 style="<% if (speaker.css) { %><%= speaker.css %><% } %>">
            <%= speaker.name %> <% if (speaker.twitter) { %><br> <small>@<%= speaker.twitter %></small> <% } %></h3>
        </div>
        <% }); %>
      </div>
    </div>
  </section>
  <% }); %>
  <script src="/reload/reload.js"></script>
</body>

</html>